<a href="https://colab.research.google.com/github/sunilgandipadala/NLP-Projects/blob/main/NLP_Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SPAM Detection 

finding a message is SPAM or NOT using RANDOM FOREST Classifier

#Data Processing

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('spam.tsv',sep="\t")

In [ ]:
df.head()

  label                                            message
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham               I HAVE A DATE ON SUNDAY WITH WILL!!!

In [ ]:
df.isna().sum()

label      0
message    0
dtype: int64

In [ ]:
df.tail()

     label                                            message
5562  spam  This is the 2nd time we have tried 2 contact u...
5563   ham               Will ü b going to esplanade fr home?
5564   ham  Pity, * was in mood for that. So...any other s...
5565   ham  The guy did some bitching but I acted like i'd...
5566   ham                         Rofl. Its true to its name

In [ ]:
df.describe() #this mainly works on numerical columns

       label                 message
count   5567                    5567
unique     2                    5164
top      ham  Sorry, I'll call later
freq    4821                      30

In [ ]:
df['label'].value_counts()

ham     4821
spam     746
Name: label, dtype: int64

In [ ]:
ham = df[df['label']=="ham"]
spam = df[df['label']=="spam"]

In [ ]:
ham.shape, spam.shape

((4821, 2), (746, 2))

In [ ]:
ham=ham.sample(spam.shape[0])

In [ ]:
ham.shape, spam.shape

((746, 2), (746, 2))

In [ ]:
data=ham.append(spam, ignore_index=True)
data.shape

(1492, 2)

In [ ]:

from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(data['message'],data['label'],test_size=0.3,random_state = 0,shuffle = True)

#Building Model(Random Forest)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [ ]:
#creating pipeline object which will be follow the same sequences of execution
pipeliner= Pipeline([("tfidf",TfidfVectorizer()),("classifier",RandomForestClassifier(n_estimators=100))])

In [ ]:
pipeliner.fit(x_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('classifier', RandomForestClassifier())])

## Model is created, and trained

#  Predicting the model(Random Forest)

In [ ]:
#to predict we have a predict method in sklearn
y_pred = pipeliner.predict(x_test)

In [ ]:
#to compare or check the predicted data we have to import these
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

In [ ]:
accuracy_score(y_test,y_pred)

0.9352678571428571

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         ham       0.90      0.99      0.94       225
        spam       0.98      0.88      0.93       223

    accuracy                           0.94       448
   macro avg       0.94      0.94      0.94       448
weighted avg       0.94      0.94      0.94       448

# Now take input from the user and test the data weather it is spam/ham

In [ ]:
test1 = ["Hello, You are learning Natural language Processing"]
test2 = ["Hope you are doing good and doing new things!"]
test3 = ["Congratulations, you have won a lottery ticket worth $1 Million! To claim call to 2382912"]

In [ ]:
print(pipeliner.predict(test1))
print(pipeliner.predict(test2))
print(pipeliner.predict(test3))

['ham']
['ham']
['spam']